
Trabalhando_com_arquivos/arc_txt/abcd.txt
Trabalhando_com_arquivos/arc_txt/adcde.txt
vendas/vendas/formata/preco.py
vendas/formata/__pycache__/preco.cpython-39.pyc
vendas/vendas/formata/preco.py
vendas/vendas/formata/preco.py
